.message{
    display: flex;
    align-items: center;

}
.message>img{
    height: 50px;
    width: 50px;
    object-fit: contain;
    border-radius: 20px;
    padding: 1%;
}
.message__timestamp{
    color: gray;
    font-weight:300;
    font-size:13px;
}