.sidebarOption{
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left:1%;
    cursor: pointer;
}
.sidebarOption:hover{
    opacity: 0.9;
    background-color: #340e36;
}
.sidebarOption__icon{
    padding: 3%;
    font-size: 15px  !important;
}
.sidebarOption__channel{
    padding:2% 0;
}
.sidebarOption__hash{
    padding: 10px;
}